		
.back { font:normal 3em 'Agency FB'; color: #0074A3; position:absolute; top: 10px; right: 10%;}
.back:hover {text-decoration: underline;}
.how { color: #990000; }
.to { color: #0074A3; }
.make { color: #006600; }
.demo { font: normal 2em 'Agency FB';}

#main {
	width: 94%;
	padding: 1% 3%;
	
}
#main h1 { 
	text-align: center;
	font: 2em Helvetica; 
	margin: 20px 0 10px 0;
	padding-bottom: 15px;
	border-bottom: 2px solid #444444; 
}
.clear {
	margin-top: -1px;
	height: 1px;
	clear:both;
	zoom: 1;
}		
/* Slider */
.slider {
	width: 900px;
	margin: 50px auto;
	padding: 0 30px;
	position: relative;
	overflow: hidden;
}

.slider::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.slider::selection { background: transparent; color: #fff; text-shadow: none; }

.slide-list {
	position: relative;
	margin: 0;
	padding: 0;
}
.slide-wrap {
	position: relative;
	left: 0px;
	top: 0;
	width: 10000000px;
}
.slide-item {
	width: 280px;
	padding: 10px;
	float: left;
}
.slide-title {
	font: bold 16px monospace;
	display: block;
}

.navy {
	position: absolute;
	top: 0;
	z-index: 1;
	height: 100%;
	width: 30px;
	cursor: pointer;
}
.prev-slide {
	left: 0;
	background: #ffffff url(bg/left-arrow.png) 11px 40% no-repeat;
}
.next-slide {
	right: 0;
	background: #ffffff url(bg/right-arrow.png) 13px 40% no-repeat;
}
.navy.disable {
	background: #ffffff;
}

.auto {
	width: 7px;
	height: 11px;
	cursor: pointer;
	margin: 10px auto;
}
.play {
	background: url(bg/play.png) center no-repeat;
}
.pause {
	background: url(bg/pause.png) center no-repeat;
}